Sprint_Nro2/ETL/proyectofinalgogleyelp-41e96ec7a40a.json
Sprint_Nro2/ETL/prepared_data
Sprint_Nro2/ETL/output_data
Sprint_Nro2/ETL/dataWorkingon
CSV
proyectofinalgogleyelp-41e96ec7a40a.json
dataMaps
user-002.parquet
*.parquet
.csv
proyectofinalgogleyelp-41e96ec7a40a.json